<head>
	{% load static %}
	<link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
  <!-- Compiled and minified CSS -->

    <link href="{% static 'main/css/materialize.css' %}" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {{ form.media }}
    <script type="text/javascript" src="{% static 'tinymce/js/prism.js' %}"></script>

    <style> 
    .turtle > p > img {position:relative;max-width:100%; max-height: 100%}</style>

    
</head>

<body>

    {% include "main/includes/navbar.html" %}
    {% include "main/includes/messages.html" %}

  <div class="container">
    <br>
    {% block content %}
    {% endblock %}
  </div>

</body>

<script>M.AutoInit()</script>

