{% extends "main/header.html" %}

{% block content %}

<script>M.toast({html: "Mind your manners!", classes: 'yellow rounded', displayLength:2000});</script>

  <div class="row">
  	{% for post in posts %}
	    <div class="col s12">
	      <div class="card cyan darken-3 hoverable">
	        <div class="card-content white-text">
	          <span class="card-title">{{post.title}}</span>
	          <p style="font-size:70%">{{post.published}}</p>
	          <div class ="turtle">{{post.body|safe}}</div>
	        </div>
	        <div class="card-action">
						<a href="#">Posted by {{post.username.get_username}}</a>
						<button class="btn"> Comment </button>
	        </div>
	      </div>
	    </div>
    {% endfor %}
  </div>
{% endblock %}

